name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        ocaml-version:
          - 5.0.x
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up OCaml
      uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: ${{ matrix.ocaml-version }}
    
    - name: Install dependencies
      run: opam install . --deps-only
    
    - name: Build
      run: eval $(opam env) && dune build
